@(user: User, stocks : java.util.List[models.Stock])

@main(user) {

    <div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Stocks</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		         <a class="add-link" href="@routes.Dashboard.viewAddPStock()">
     				<button class="btn btn-custom add" ><i class="fa fa-plus"></i> Ajouter un produit</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Nom - Espéce</th>
		              <th>Type</th>
		              <th>Quantité</th>
		              <th>Seuil Min</th>
		              <th>Seuil Max</th>
		            </tr>
		            </thead>
		            <tbody>
		            @for(stock <- stocks){	
			            <tr>
			              <td>@stock.product.name</td>
			              <td>@stock.product.typeProduct.name</td>
			              <td>@stock.quantity  @stock.unit.name</td>
			              <td>@stock.threshold_min @stock.unit.name</td>
			              <td>@stock.threshold_max @stock.unit.name</td>
			            </tr>
			            }
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>

}