.history
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
# Ignore Play! working directory #
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
.cache
.DS_Store
/.DS_Store
conf/evolutions/
conf/application.conf
