@(user: User)

@main(user) {

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Commandes en cours de traitement</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Numero de commande</th>
		              <th>Restaurant</th>
		              <th>Nombre de produit</th>
		              <th>Fournisseur</th>
		              <th>Date de traitement</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
			            <tr>
			              <td>00001005</td>
			              <td>Mucho Mex</td>
			              <td>4</td>
			              <td>Go deliever</td>
			              <td>2015-03-17 18:30:00</td>
			              <td>
			              	<button class="btn btn-custom btn-s" title="Detail"><i class="fa fa-cog"></i></button>
                    	  	<button class="btn btn-custom btn-s" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    	  </td>
			            </tr>
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
    
}