
@(user: User, store : Stores)
@main(user) {

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>@store.name</h3>
		      </div>
		      <div class="ibox-content">
		      Adresse : </br>
		      @store.adress1 </br>
		      @store.codePostal </br>
		      @store.ville </br>
		      Adresse mail : @store.email

		      </div>		
			 </div>
		  </div>
		</div>
	  </div>
</div>	      
		      
		      }