@(user: User, usersForm: Form[models.User], actionRoute : play.api.mvc.Call) 

@import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

@scripts = {
    <script src="@routes.Assets.at("javascripts/password.js")" type="text/javascript"></script>
}

@main(user, scripts) {

@wflash()

<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>Ajout d'un employee</h3>
					</div>
					
					@form(action=actionRoute, 'class -> "form-horizontal "){
					<div class="ibox-content">
		
				    <fieldset>
				        @inputText(
				            usersForm("email"),
				            'placeholder -> Messages("email"),
				            '_label -> null,
				            'class -> "form-control"
				        )
				        @inputText(
				            usersForm("firstname"),
				            'placeholder -> Messages("firstname"),
				            '_label -> null,
				            'class -> "form-control"
				        )
				        @inputText(
				            usersForm("lastname"),
				            'placeholder -> Messages("lastname"),
				            '_label -> null,
				            'class -> "form-control"
				        )
				        @inputPassword(
				            usersForm("inputPassword"),
				            '_label -> null,
				            'placeholder -> Messages("password"),
				            'class -> "form-control"
				        )
				    </fieldset>
				
					<div class="hr-line-dashed"></div>

							<div class="button text-center">
								<button type="submit" class="btn btn-primary btn-lg active">Valider</button>
							</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

}
