@(user: User) 

@main(user) {

<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>Ajout d'un employee</h3>
					</div>
					<div class="ibox-content">

						<form class="form-horizontal" method="post">
						  <div class="form-group">
							  <label class="col-sm-2 control-label">Nom</label>
							  <div class="col-sm-10">
							    <input class="form-control" type="text" name="lastname">
							  </div>
						  </div><br/>
						  <div class="form-group">
							  <label class="col-sm-2 control-label">Prenom</label>
							  <div class="col-sm-10">
							    <input class="form-control" type="text" name="firstname">
							  </div>
						  </div><br/>
						  <div class="form-group">
							  <label class="col-sm-2 control-label">Adresse 1</label>
							  <div class="col-sm-10">
							    <input class="form-control" type="text" name="address1">
							  </div>
						  </div><br/>
						  <div class="form-group">
							  <label class="col-sm-2 control-label">Adresse 2</label>
							  <div class="col-sm-10">
							    <input class="form-control" type="text" name="address2">
							  </div>
						  </div><br/>
						  <div class="form-group">
							  <label class="col-sm-2 control-label">Code Postal</label>
							  <div class="col-sm-4">
							    <input class="form-control" type="text" name="post_code">
							  </div>
							  <label class="col-sm-2 control-label">Ville</label>
							  <div class="col-sm-4">
							    <input class="form-control" type="text" name="city">
							  </div>
						    </div>
							
							<div class="hr-line-dashed"></div>

							<div class="button text-center">
								<button type="button" class="btn btn-white btn-lg active">Continuer</button>
								<button type="button" class="btn btn-primary btn-lg active">Valider</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

}
