@import helper._

@(user: User,productForm: Form[models.Products])

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) }

@main(user){


<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>@Messages("Création d'un produit")</h3>
					</div>

				
					<div class="ibox-content">
					@form(routes.Product.saveProduct(), 'class -> "form") {
					
					@if(productForm.hasGlobalErrors) {
		        <p class="error">
		            <span class="label label-danger">@productForm.globalError.message</span>
		        </p>
		    }
		    

					<fieldset>
					
					@inputText(   
								productForm("name"), 
							    '_label -> "Nom-Espèce",
							    'class -> "form-control input-lg"
							   )
							   
					@select(
					        productForm("typeProduct.id"),
					        options = TypeProduct.selectCollection.toSeq,
					        '_default -> "Choose One", 
					        '_label -> "Type",     
					        'class -> "form-control "   
					        )

					</fieldset>
							<div class="button text-center">
								<button type="button" class="btn btn-white btn-lg active">Continuer</button>
								<button type="submit" onclick="return validateMyForm()" class="btn btn-primary btn-lg active">Valider</button>
							</div>
}
						
						<!-- h3>Produits</h3>

						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nom - Espece</th>
										<th>Type</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Courgette</td>
										<td>Legumes</td>
										<td>
											<button class="btn btn-custom btn-s" title="Modifier">
												<i class="fa fa-cog"></i>
											</button>
											<button class="btn btn-custom btn-s" title="Supprimer">
												<i class="fa fa-trash-o"></i>
											</button>
										</td>
									</tr>
									
								</tbody>
							</table>	
					</div -->
				</div>
			</div>
		</div>
	</div>
</div>
</div>

}	