@import helper._

@(user: User, form: Form[models.Suppliers], store : models.Suppliers, actionRoute : play.api.mvc.Call) 
@main(user) {

<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>Ajout d'un fournisseur</h3>
					</div>
					@helper.form(action=actionRoute, 'class -> "form-horizontal ") { 
				<div class="ibox-content">
		
				  @if(form.hasGlobalErrors) {
				      <p class="error">
				           @form.globalError.message
				         Erreur !
				      </p>
				  }
						<fieldset> 
					  <div class="form-group">
						
						@inputText(   
								form("name"), 
		    					'_label -> "Nom du fournisseur", 
		    					'_div_class -> "col-sm-10",
		   						'class -> "form-control",
		   						'value -> "store.name",
		   						'placeholder -> "Name"
		   						)   
						</div><br/>	
						<div class="form-group">
						

						@inputText(   
								form("email"), 
		    					'_label -> "Email", 
		    					'_div_class -> "col-sm-10",
		   						'class -> "form-control",
		   						'value -> "store.email",
		   						'placeholder -> "Email"
		   						)   
						
					  </div>
					  <div class="hr-line-dashed"></div>
					  <div class="form-group">
					
						@inputText(   
								form("adress1"), 
		    					'_label -> "Adresse 1",
		   						'class -> "form-control",
		   						'value -> "store.adress1",
		   						'placeholder -> "Adress 1"
		   						) 
						
					  </div><br/>
					  <div class="form-group">
						
						@inputText(   
								form("adress2"), 
		    					'_label -> "Adresse 2",
		    					'_div_class -> "col-sm-10", 
		   						'class -> "form-control",
		   						'value -> "store.adress2",
		   						'placeholder -> "Adress 2"
		   						) 
					
					  </div><br/>
					  <div class="form-group">
					
						<div class="col-sm-6">
						 @inputText(   
								form("codePostal"), 
		    					'_label -> "Code Postal",
		   						'class -> "form-control",
		   						'value -> "store.codePostal",
		   						'placeholder -> "Post Code"
		   						) 

						</div> 
						<div class="col-sm-6">
						 @inputText(   
								form("ville"), 
		    					'_label -> "Ville", 
		   						'class -> "form-control",
		   						'value -> "store.ville",
		   						'placeholder -> "City"
		   						) 
						
						</div> 
					  </div>
					  <div class="hr-line-dashed"></div>
					</fieldset>	
						<div class="button text-center">
							<button class="btn btn-primary btn-lg active">Continuer</button>
						</div>
					
				</div>
			 </div>
			 } 
		  </div>
		</div>
	  </div>
</div>	      

}
							
							