@(user: User, storeForm: Form[models.Stores], store : models.Stores, actionRoute : play.api.mvc.Call)

@import helper._
 @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }

@main(user) {


<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Ajouter un restaurant</h3>
		      </div>
				 @form(action=actionRoute, 'class -> "form-horizontal ") { 

				<div class="ibox-content">
				
					 <fieldset> 
						
						@inputText(   
								storeForm("name"), 
		    					'_label -> "Nom du restaurant", 
		    					'_div_class -> "col-sm-10",
		   						'class -> "form-control",
		   						'value -> "store.name",
		   						'placeholder -> "Name"
		   						)   

						@inputText(   
								storeForm("email"), 
		    					'_label -> "Email", 
		    					'_div_class -> "col-sm-10",
		   						'class -> "form-control",
		   						'value -> "store.email",
		   						'placeholder -> "Email"
		   						)   
						
					  <div class="hr-line-dashed"></div>

						@inputText(   
								storeForm("adress1"), 
		    					'_label -> "Adresse 1",
		   						'class -> "form-control",
		   						'value -> "store.adress1",
		   						'placeholder -> "Adress 1"
		   						) 
						
						@inputText(   
								storeForm("adress2"), 
		    					'_label -> "Adresse 2",
		    					'_div_class -> "col-sm-10", 
		   						'class -> "form-control",
		   						'value -> "store.adress2",
		   						'placeholder -> "Adress 2"
		   						) 

						 @inputText(   
								storeForm("codePostal"), 
		    					'_label -> "Code Postal",
		   						'class -> "form-control",
		   						'value -> "store.codePostal",
		   						'placeholder -> "Post Code"
		   						) 

						 @inputText(   
								storeForm("ville"), 
		    					'_label -> "Ville", 
		   						'class -> "form-control",
		   						'value -> "store.ville",
		   						'placeholder -> "City"
		   						) 

					  <div class="hr-line-dashed"></div>
					</fieldset>	
						<div class="button text-center">
							<button class="btn btn-primary btn-lg active">Continuer</button>
						</div>
					
				</div>
			 </div>
			 } 
		  </div>
		</div>
	  </div>
</div>	      

}