@(user: User, suppForm: Form[models.Suppliers], store : models.Suppliers, actionRoute : play.api.mvc.Call)

@import helper._
@implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapInput.render)
    }
 
@main(user) {

<div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>Ajout d'un fournisseur</h3>
					</div>
					@form(action=actionRoute, 'class -> "form-horizontal ") { 
					<div class="ibox-content">
		
				  
					  <fieldset> 
						@inputText(   
								suppForm("name"), 
		    					'_label -> "Nom du fournisseur", 
		   						'class -> "form-control",
		   						'value -> "store.name",
		   						'placeholder -> "Name"
		   						)   

						@inputText(   
								suppForm("email"), 
		    					'_label -> "Email", 
		   						'class -> "form-control",
		   						'value -> "store.email",
		   						'placeholder -> "Email"
		   						)   
						
						@inputText(   
								suppForm("adress1"), 
		    					'_label -> "Adresse 1",
		   						'class -> "form-control",
		   						'value -> "store.adress1",
		   						'placeholder -> "Adress 1"
		   						) 
						
						@inputText(   
								suppForm("adress2"), 
		    					'_label -> "Adresse 2",
		   						'class -> "form-control",
		   						'value -> "store.adress2",
		   						'placeholder -> "Adress 2"
		   						) 
					
						 @inputText(   
								suppForm("codePostal"), 
		    					'_label -> "Code Postal",
		   						'class -> "form-control",
		   						'value -> "store.codePostal",
		   						'placeholder -> "Post Code"
		   						) 

						 @inputText(   
								suppForm("ville"), 
		    					'_label -> "Ville", 
		   						'class -> "form-control",
		   						'value -> "store.ville",
		   						'placeholder -> "City"
		   						) 
						
					  <div class="hr-line-dashed"></div>
					</fieldset>	
						<div class="button text-center">
							<button class="btn btn-primary btn-lg active">Continuer</button>
						</div>
					
				</div>
			 </div>
			 } 
		  </div>
		</div>
	  </div>
</div>	      

}
							
							