@import helper._
@(user: User, form: Form[models.Suppliers])



@main(user) {


 <div class="wrapper wrapper-content">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h3>Ajout d'un fournisseur</h3>
					</div>

				 @helper.form(action=routes.Supplier.saveSupplier()) { 

				<div class ="ibox-content">
						  <fieldset> 
						@inputText(   
								form("name"), 
		    					'_label -> "Nom du fournisseur", 
		    					'_div_class -> "col-sm-10",
		   						'class -> "form-control",
		   						'value -> "suppliers.name",
		   						'placeholder -> "Name"
		   						)   
					
					 
						@inputText(   
								form("adress1"), 
		    					'_label -> "Adresse 1",
		   						'class -> "form-control",
		   						'value -> "suppliers.adress1",
		   						'placeholder -> "Adress 1"
		   						) 
						
						
						@inputText(   
								form("adress2"), 
		    					'_label -> "Adresse 2",
		    					'_div_class -> "col-sm-10", 
		   						'class -> "form-control",
		   						'value -> "suppliers.adress2",
		   						'placeholder -> "Adress 2"
		   						) 
				
					 
						 @inputText(   
								form("codePostal"), 
		    					'_label -> "Code Postal",
		    					'_div_class -> "col-sm-10", 
		   						'class -> "form-control",
		   						'value -> "suppliers.codePostal",
		   						'placeholder -> "Post Code"
		   						) 
						
						 @inputText(   
								form("ville"), 
		    					'_label -> "Ville", 
		    					'_div_class -> "col-sm-10", 
		   						'class -> "form-control",
		   						'value -> "suppliers.ville",
		   						'placeholder -> "City"
		   						)
		   						
		   			
					        
					        
		   				</fieldset>	
					  <div class="hr-line-dashed"></div>
					
						<div class="button text-center">
							<button class="btn btn-primary btn-lg active">Continuer</button>
						</div>		
				   }
				   </div>
	</div>
	</div>
	</div>
		</div>
			</div>
		}
