@(user: User, Users : java.util.List[models.User])

@main(user) {
	

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Employees</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <a class="add-link" href="@routes.Employee.addEmployee()">
     				<button class="btn btn-custom add" ><i class="fa fa-plus"></i> Ajouter un employee</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Nom</th>
		              <th>Prenom</th>
		              <th>Mail</th>
		              <th>Statut</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
		            @for(User <- Users){
			            <tr>
			              <td>@User.lastname</td>
			              <td>@User.firstname</td>
			              <td>@User.email</td>
			              <td>@User.typeUser.name</td>
			              <td>
			              @if(User.typeUser.id != 1) {
			              	<a href="@routes.Employee.edit(User.id)">
			              	  <button class="btn btn-custom btn-s" title="Modifier"><i class="fa fa-cog"></i></button>
			              	</a>
			              	<a href="@routes.Employee.destroy(User.id)">
                    	  	  <button class="btn btn-custom btn-s" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    	  	</a>
                    	  }
                    	  </td>
			            </tr>
			            }
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
    
}