@(user: User)

@if(user != null) {
		<div ng-controller="MenuCtrl" class="row border-bottom white-bg" role="navigation">
		  <nav class="navbar navbar-static-top" role="navigation">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars fa-lg fa-inverse"></span>
                </button>
                <a class="navbar-brand" href="@routes.Application.index()">
                    <i class="fa fa-rocket"></i> Champagne
                </a>
		    </div>
		    <div class="navbar-collapse collapse" id="navbar" nav-collapse>
		      <ul class="nav navbar-nav">
		      @if(user.typeUser.id != 1) {
		        <li>
		          <a aria-expanded="false" role="button" href="@routes.Dashboard.index()"><i class="fa fa-home imenu"></i> Stocks</a>
		        </li>
		      }
		      @if(user.typeUser.id == 4) {
		      	<li>
		          <a aria-expanded="false" role="button" href="#"><i class="fa fa-home imenu"></i> Boissons</a>
		        </li>
		      }
		      @if(user.typeUser.id == 3 || user.typeUser.id == 4) {
		      	<li>
		          <a aria-expanded="false" role="button" href="#"><i class="fa fa-home imenu"></i> Plats</a>
		        </li>
		      }
		      @if(user.typeUser.id == 1) {
		        <li>
		          <a aria-expanded="false" role="button" href="@routes.Store.index()"><i class="fa fa-users imenu"></i> Restaurants</a>
		        </li>
		        <li>
		          <a aria-expanded="false" role="button" href="@routes.Supplier.index()"><i class="fa fa-shopping-cart imenu"></i> Fournisseurs</a>
		        </li>
		      }
		      @if(user.typeUser.id != 3 || user.typeUser.id != 4){
		        <li class="dropdown">
		          <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tags fa-flip-horizontal imenu"></i> Commandes<span
		            class="caret"></span></a>
		          <ul role="menu" class="dropdown-menu">
		            @if(user.typeUser.id == 2){<li><a href="@routes.OrderCommand.index()">Commander</a></li>}
		            @if(user.typeUser.id == 1 || user.typeUser.id == 5){<li><a href="@routes.OrderToHandle.index()">Commandes a traiter</a></li>}
		            @if(user.typeUser.id == 1 || user.typeUser.id == 2){<li><a href="@routes.OrderInProgress.index()">Commandes en cours</a></li>}
		            @if(user.typeUser.id == 1 || user.typeUser.id == 2 || user.typeUser.id == 5){<li><a href="@routes.OrderValid.index()">Commandes traites</a></li>}
		          </ul>
		        </li>
		        }
		        @if(user.typeUser.id == 1){
		        <li>
		          <a aria-expanded="false" role="button" href="@routes.Product.index()"><i class="fa fa-shopping-cart imenu"></i> Produits</a>
		        </li>
		        <li>
		          <a aria-expanded="false" role="button" href="@routes.Employee.index()"><i class="fa fa-users imenu"></i> Employees</a>
		        </li>
		        <li class="dropdown">
		          <a aria-expanded="false" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tags fa-flip-horizontal imenu"></i> Parametres<span
		            class="caret"></span></a>
		          <ul role="menu" class="dropdown-menu">
		            <li><a href="#">Unites</a></li>
		            <li><a href="#">Types de produit</a></li>
		          </ul>
		        </li>
		        }  
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> @user.firstname @user.lastname<b class="caret"></b></a>
		            <ul class="dropdown-menu">
		                <li><a href="@controllers.account.settings.routes.Index.index()"><i class="fa fa-wrench"></i> @Messages("Account settings")</a></li>
		                <li><a href="@routes.Application.logout()"><i class="fa fa-power-off"></i> @Messages("logout")</a></li>
		            </ul>
		        </li>
		      </ul>
		    </div>
		  </nav>
		</div>
   
}
