@(user: User = null, scripts: Html = Html(""))(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@Messages("title")</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery/jquery-2.1.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        @scripts
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
    </head>
    <body class="gray-bg top-navigation">
    
    	@logged(user)
        

        <div class="container">
            <div class="row">
                @content
            </div>
        </div>

        <hr>
        <div class="footer text-center">
            <div>
                <small>
                    <i class="fa fa-github fa-1"></i> <a href="https://github.com/drixi5/project-champagne/">Fork me on Github</a>
                </small>
            </div>
        </div>
    </body>
</html>
