@(user: User, products : java.util.List[models.Products])

@main(user){
	

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Produits</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <a class="add-link" href="@routes.Product.addProduct()">
     				<button class="btn btn-custom add"><i class="fa fa-plus"></i> Creer un produit</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Nom - Espece</th>
		              <th>Type</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
		            	@for(product <- products){	
			            <tr>
			              <td>@product.name</td>
			              <td>@product.typeProduct.name</td>
 						  <td>
			              <a href="@routes.Product.edit(product.id)">
			              	<button class="btn btn-custom btn-s" title="Modifier"><i class="fa fa-cog"></i></button>
			              </a> 			
                    	  </td>
			            </tr>
			            }
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
    
}