@(user: User, Products : java.util.List[models.Products])

@main(user){
	@Products.size Product@(if(Products.size !=1) "s")

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Produits</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <a class="add-link" href="@routes.Product.addProduct()">
     				<button class="btn btn-custom add"><i class="fa fa-plus"></i> Creer un produit</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Nom - Espece</th>
		              <th>Type</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
		            	@for(Product <- Products){	
			            <tr>
			              <td>@Product.name</td>
			              <td>@Product.typeProduct.name</td>
			              <td>
			              	<button class="btn btn-custom btn-s" title="Modifier"><i class="fa fa-cog"></i></button>
                    	  	<button class="btn btn-custom btn-s" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    	  </td>
			            </tr>
			            }
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
    
}