@(user: User, stores : java.util.List[models.Stores])

@main(user) {
    <!-- @stores.size Store@(if(stores.size !=1) "s")  -->

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Restaurants</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <a class="add-link" href="@routes.Store.viewAddStore()">
     				<button class="btn btn-custom add" ><i class="fa fa-plus"></i> Ajouter un restaurant</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		       
		            <tr>
		              <th>Nom</th>
		              <th>Mail</th>
		              <th>Adresse</th>
		              <th>Code Postal</th>
		              <th>Ville</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
					@for(stores <- stores){		          
			            <tr>
			              <td>@stores.name</td>
			              <td> @stores.email</td>
			              <td>@stores.adress1</td>
			              <td>@stores.codePostal</td>
			              <td> @stores.ville</td>		             
			              <td>
			              <a href="@routes.Store.edit(stores.id)">
			              	<button class="btn btn-custom btn-s" title="Modifier"><i class="fa fa-cog"></i></button>
			              </a> 	
			              <a href="@routes.Store.destroy(stores.id)">
                    	  	<button class="btn btn-custom btn-s" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    	  </a> 		
                    	  </td>
			            </tr>
 						}			            
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
   
}