@(user: User, suppliers : java.util.List[models.Suppliers])

@main(user) {

<div class="wrapper wrapper-content">
      <div class="container">
        <div class="row">
		  <div class="col-lg-12">
		    <div class="ibox float-e-margins">
		      <div class="ibox-title">
		        <h3>Fournisseurs</h3>
		      </div>
		      <div class="ibox-content">
		        <div class="table-responsive">
		          <a class="add-link" href="@routes.Supplier.viewAddSupplier()">
     				<button class="btn btn-custom add"><i class="fa fa-plus"></i> Ajouter un fournisseur</button>
     			  </a>
		          <table class="table table-striped">
		            <thead>
		            <tr>
		              <th>Nom</th>
		              <th>Mail</th>
		              <th>Adresse</th>
		              <th>Code Postal</th>
		              <th>Ville</th>
		              <th></th>
		            </tr>
		            </thead>
		            <tbody>
					@for(suppliers <- suppliers){		          
			            <tr>
			              <td>@suppliers.name</td>
			              <td>@suppliers.email</td>
			              <td>@suppliers.adress1</td>
			              <td>@suppliers.codePostal</td>
			              <td>@suppliers.ville</td>		             
			              <td>
			              <a href="@routes.Supplier.edit(suppliers.id)">
			              	<button class="btn btn-custom btn-s" title="Modifier"><i class="fa fa-cog"></i></button>
			              </a> 	
			              <a href="@routes.Supplier.destroy(suppliers.id)">
                    	  	<button class="btn btn-custom btn-s" title="Supprimer"><i class="fa fa-trash-o"></i></button>
                    	  </a> 		
                    	  </td>
			            </tr>
 						}	
		            </tbody>
		          </table>
		        </div>
		
		      </div>
		    </div>
		  </div>
		</div>
      </div>
    </div>
    
}